<p>
  <b>Forum:</b>
  <%=h @forum.name %>
</p>

<p>
  <b>Subject:</b>
  <%=h @topic.subject %>
</p>

<p>
  <b>Body:</b>
  <%=h @topic.body %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', forum_path(@forum) %>